// Colours
$c-white: #fff;
$c-black: #19191b;
$c-light-grey: #e7e7e7;
$c-grey: #979797;
$c-dark-grey: #1e1e20;
$c-green: #48af67;
$c-dark-green: #2a643b;
$c-light-green: #48af6781;

// Fonts
$font-heading-weight: 800;
$font-body-bold: 700;
$font-body-weight: 400;

// Containers
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Border
$border-radius: 0.5rem;
